@import "../general/variables";

@mixin blueBtnConfig() {
  width: 100%;
  color: white;
  background-color: $primaryDarkBlueColor;
  text-transform: none;
  height: 180%;
}

@mixin darkGreenBlueBtnConfig($width, $color, $background-color) {
  width: $width;
  color: $color;
  background-color: $background-color;
  text-transform: none;
}

@mixin commonBtnConfig($height, $width, $color, $background) {
  width: $width;
  color: $color;
  background-color: $background;
  text-transform: none;
  height: $height;
}

@mixin paymentBtnConfig() {
  width: 100%;
}

@mixin outlineBtnConfig() {
  width: 100%;
}

@mixin titleMixin() {
  color: black;
  align-items: center;
}
