html
    head
        title='EssaySpring'
        link(rel='stylesheet', href='stylesheets/404.css', type='text/css' )
        script(src='javascripts/404.js')
    body
        .box
            .box__ghost
                .symbol
                .symbol
                .symbol
                .symbol
                .symbol
                .symbol
                .box__ghost-container
                    .box__ghost-eyes
                        .box__eye-left
                        .box__eye-right
                    .box__ghost-bottom
                        div
                        div
                        div
                        div
                        div
                .box__ghost-shadow
            .box__description
                .box__description-container
                    .box__description-title Whoops!
                    .box__description-text It seems like we couldn&apos;t find the page you were looking for
                a.box__button(href='https://essayspring.com') Go back
