$paymentButtonColor: #FF7653;

$primaryBlueColor: #0084D6;

$primaryDarkBlueColor: #3474B4;

$primaryLightGreyColor: #F7F7F7;

$greyBorderColor: #bbbbbb;

$faintBlackColor: rgba(0,0,0,0.6);

$primaryDarkGreenBlueColor: #007991;

$footerColor: #002552;

//#2b2b2b
